.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Hanken Grotesk';
    }
    .result {
        text-align: center;
        color: hsl(0, 0%, 100%);
        border-bottom-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        background-image: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    }
    .result h3 {
        padding: 1rem 1rem 0.5rem;
        font-weight: 800;
        font-size: larger;
        color: hsla(0, 0%, 100%, 0.9);
    }
    #resultHeader {
        padding: 1.5rem;
        font-weight: 500;
        color: hsl(241, 100%, 89%);
    }
    .score {
        padding: 1rem;
        max-width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
        background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    }
    .score h1 {
        font-weight: 800;
        font-size: 3.5rem;
        color: hsl(0, 0%, 100%);
    }
    .score p {
        font-weight: 500;
        font-size: medium;
        color: hsla(241, 100%, 89%, 0.75);
    }
    #resultP {
        font-weight: 500;
        font-size: medium;
        padding: 0 4.4rem 2rem;
        color: hsla(241, 100%, 89%, 0.75);
    }
    .summary {
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }
    .summaryHeader {
        padding: 1rem 1rem 0.5rem;
        color: hsla(224, 30%, 27%, 0.75);
    }
    .sum {
        display: flex;
        padding: 1.25rem;
        align-items: center;
        justify-content: space-between;
    }
    .taskSummary {
        display: flex;
        justify-content: space-around;
    }
}