.projectsHeader {
    padding: 4rem;
    text-align: center;
    background: #4e54c8;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.projects {
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-gap: 4rem;
    max-width: 1280px;
    margin-bottom: 6rem;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.project {
    border-radius: 2px;
    background: slategray;
}
.projectImage {
    width: 100%;
    object-fit: cover;
    height: calc(100% - 6.8rem);
}
.projectTitle {
    color: #fff;
    padding: 1rem;
    font-size: 24px;
    text-align: center;
}
a {
    text-decoration: none;
}
.code {
    color: slategray;
    transition: color 0.3s ease-out;
}
.project:hover {
    .code {
        color: orange;
        transition: color 0.3s ease-out;
    }
}