/* 
- Font size (name and stats): 18px

- Family: [Kumbh Sans](https://fonts.google.com/specimen/Kumbh+Sans)

- Weights: 400, 700

font-family: 'Kumbh Sans', sans-serif;
 */

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
:root {
    --darkGray: hsl(0, 0%, 59%);
    --darkCyan: hsl(185, 75%, 39%);
    --darkGrayishBlue: hsl(227, 10%, 46%);
    --veryDarkSaturatedBlue: hsl(229, 23%, 23%);
}
.attribution {
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: var(--veryDarkSaturatedBlue);
}

@media only screen and (min-width: 300px) and (max-width: 600px) {
    * {
        margin: 0;
        box-sizing: border-box;
    }
    html {
        background-color: var(--darkCyan);
    }
    .backgroundTopImage {
        top: 0;
        left: 0;
        position: absolute;
        transform: translate(-69%, -58%);
        background: url(./images/bg-pattern-top.svg);
    }
    .backgroundBottomImage {
        right: 0;
        bottom: 0;
        position: absolute;
        transform: translate(67%, 49%);
        background: url(./images/bg-pattern-bottom.svg);
    }
}