@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');
:root {
    --darkCyan: hsl(184, 100%, 22%);
    --brightOrange: hsl(31, 77%, 52%);
    --veryDarkCyan: hsl(179, 100%, 13%);
    --transparentWhiteParagraphs: hsla(0, 5, 100%, 0.75);
    --veryLightGrayBackgroundHeadingsButtons: hsl(0, 0%, 95%);
}
/* 
Font size: 15px
font-family: 'Big Shoulders Display', cursive;
Weights: 700
font-family: 'Lexend Deca', sans-serif;
Weights: 400
*/
.attribution {
    padding: 2rem;
    font-size: 11px;
    text-align: center;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}
/* Mobile Version */
@media only screen and (max-width: 600px) {
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    html {
        background-color: var(--veryLightGrayBackgroundHeadingsButtons);
    }
    .wrapper {
        top: 66%;
        left: 50%;
        padding: 1rem;
        min-width: 300px;
        max-width: 375px;
        position: absolute;
        transform: translate(-50%, -50%);
    }
    .card {
        padding: 2.5rem;
    }
    .cardImage {
        max-height: 2rem;
    }
    .cardHeader {
        margin: 1rem 0;
        font-weight: 700;
        text-transform: uppercase;
        font-family: 'Big Shoulders Display', cursive;
        color: var(--veryLightGrayBackgroundHeadingsButtons);
    }
    .cardDescription {
        opacity: 0.75;
        font-size: 11px;
        font-weight: 400;
        line-height: 1.25rem;
        font-family: 'Lexend Deca', sans-serif;
        color: var(--veryLightGrayBackgroundHeadingsButtons);
    }
    .cardButton {
        padding: 1rem;
        display: block;
        max-width: 125px;
        margin-top: 25px;
        font-weight: 400;
        border-radius: 50px;
        text-decoration: none;
        font-family: 'Lexend Deca', sans-serif;
        background-color: var(--veryLightGrayBackgroundHeadingsButtons);
    }
    .card:nth-child(1) {
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        background-color: var(--brightOrange);
    }
    .card:nth-child(2) {
        background-color: var(--darkCyan);
    }
    .card:nth-child(3) {
        border-bottom-left-radius: 0.5rem;
        border-bottom-right-radius: 0.5rem;
        background-color: var(--veryDarkCyan);
    }
    #sedanButton {
        color: var(--brightOrange);
    }
    #suvButton {
        color: var(--darkCyan);
    }
    #luxuryButton {
        color: var(--veryDarkCyan);
    }
}