/* 
- Font size: 15px
- font-family: 'Inter', sans-serif;
- font-family: 'Lexend Deca', sans-serif;
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');
:root {
    --softViolet/*accent*/: hsl(277, 44%, 44%);
    --white/*mainHeadingAndStats*/: hsl(0, 0%, 100%);
    --veryDarkBlue/*mainBackground*/: hsl(233, 47%, 7%);
    --darkDesaturatedBlue/*cardBackground*/: hsl(244, 38%, 16%);
    --slightlyTransparentWhiteHeading/*statsHeading*/: hsla(0, 0%, 100%, 0.9);
    --slightlyTransparentWhiteParagraph/*mainParagraph*/: hsla(0, 0%, 100%, 0.5);
}
.attribution {
    padding: 1rem;
    font-size: 11px;
    text-align: center;
    color: var(--slightlyTransparentWhiteParagraph);
}
.attribution a {
    color: var(--softViolet);
}

/* Mobile Design */
@media only screen and (max-width: 600px) {
    html {
        background-color: var(--veryDarkBlue);
    }
    .wrapper {
        top: 60%;
        left: 50%;
        width: 300px;
        position: absolute;
        border-radius: 1rem;
        transform: translate(-50%, -50%);
    }
    .card {
        text-align: center;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        border-bottom-left-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: var(--darkDesaturatedBlue);
    }
    .cardImage {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
        background-color: var(--softViolet);
    }
    .cardImage img {
        width: 100%;
        opacity: 0.538;
        display: block;
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;
    }
    .cardStats {
        display: flex;
        padding: 0 2rem 1rem;
        flex-direction: column;
    }
    .header {
        font-weight: 700;
        margin-top: 2rem;
        margin-bottom: 1rem;
        color: var(--slightlyTransparentWhiteHeading);
        font-family: 'Inter', sans-serif;
    }
    .accent {
        color: var(--softViolet);
    }
    .info {
        margin: 0;
        font-size: 13px;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        color: var(--slightlyTransparentWhiteParagraph);
    }
    .statsCard {
        display: flex;
        flex-direction: column;
        padding: 1rem 0 0.25rem;
        font-family: 'Lexend Deca', sans-serif;
    }
    .stats > * {
        margin: 0;
        padding: 0;
    }
    .stats {
        padding: 10px;
    }
    .numbers {
        color: var(--slightlyTransparentWhiteHeading);
    }
    .description {
        font-size: 11px;
        margin-top: 5px;
        text-transform: uppercase;
        color: var(--slightlyTransparentWhiteParagraph);
    }
}

/* Desktop Design */
@media only screen and (min-width: 600px) {
    html {
        background-color: var(--veryDarkBlue);
    }
    .wrapper {
        top: 50%;
        left: 50%;
        width: 80%;
        display: flex;
        min-width: 940px;
        position: absolute;
        align-items: center;
        border-radius: 1rem;
        flex-direction: column;
        transform: translate(-50%, -50%);
    }
    .card {
        width: 100%;
        display: flex;
        min-width: 777px;
        max-width: 943px;
        text-align: center;
        border-radius: 1rem;
        flex-direction: row-reverse;
        background-color: var(--darkDesaturatedBlue);
    }
    .cardImage {
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
        background-color: var(--softViolet);
    }
    .cardImage img {
        height: 100%;
        opacity: 0.538;
        display: block;
        max-width: 444px;
        max-height: 375px;
        border-top-right-radius: 1rem;
        border-bottom-right-radius: 1rem;
    }
    .cardStats {
        display: flex;
        padding: 3rem;
        max-width: 444px;
        text-align: left;
        padding-right: 3rem;
        flex-direction: column;
    }
    .header {
        margin-top: 0;
        font-size: 32px;
        font-weight: 700;
        padding-right: 4rem;
        margin-bottom: 1rem;
        font-family: 'Inter', sans-serif;
        color: var(--slightlyTransparentWhiteHeading);
    }
    .accent {
        color: var(--softViolet);
    }
    .info {
        margin: 0;
        font-size: 14px;
        margin-top: 1rem;
        font-weight: 400;
        padding-right: 5rem;
        font-family: 'Inter', sans-serif;
        color: var(--slightlyTransparentWhiteParagraph);
    }
    .statsCard {
        display: flex;
        padding: 3rem 0 0;
        flex-direction: row;
        justify-content: flex-start;
        font-family: 'Lexend Deca', sans-serif;
    }
    .stats > * {
        margin: 0;
        padding: 0;
    }
    .stats {
        padding: 10px;
    }
    .numbers {
        color: var(--slightlyTransparentWhiteHeading);
    }
    .description {
        font-size: 11px;
        margin-top: 5px;
        text-transform: uppercase;
        color: var(--slightlyTransparentWhiteParagraph);
    }
}